@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
body {
  background: #e5e5e5;
  color: #999;
  padding: 0px;
  margin: 0px;
}
.all-content{
  min-height:100%;
  position:relative
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-weight: 300;
}
a {
  color: #282828;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.btn {
  font-weight: 300;
  border: 0;
}
.btn.btn-primary {
  background-color: #52b6ec;
}
.btn.btn-primary:hover,
.btn.btn-primary.active {
  background-color: #1586c3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
a:hover,
a:focus {
  color: #000;
  text-decoration: none;
  outline: none;
}
#header {
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  z-index: 99999;
}

.navbar-default {
  background: #fff;
  border-radius: 0 0 5px 5px;
  border: 0;
  padding: 0;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  overflow: hidden;
}
.navbar-default .first a {
  border-radius: 0 0 0 5px;
}
.navbar-default .navbar-brand {
  margin-right: 70px;
  margin-left: 270px;
  width: 700px;
  height: 78px;
  background: url(../images/logo.png) no-repeat 0 50%;
}
.navbar-default .navbar-nav > li {
  margin-left: 1px;
}
.navbar-default .navbar-nav > li > a {
  padding: 30px 25px;
  font-size: 16px;
  line-height: 18px;
  color: #999;
}
.navbar-default .navbar-nav > li > a > i {
  display: inline-block;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:focus > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav >  > li li:focus > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li.a > li active:focus > a:focus,
.navbar-default .navbar-nav > li.active:hover > a:focus,
.navbar-default .navbar-nav > li:hover > a:focus,
.navbar-default .navbar-nav > li:focus > a:focus {
  background-color: #52b6ec;
  color: #fff;
}
.content-warp{
  margin-top: 78px; 
}
.container{
}
.content{
  float: left;
  border-left: 5px;
  border-left-style: solid;
  border-left-color: #3498db;
  -webkit-box-shadow: -5px 0px 17px -8px rgba(0,0,0,0.98);
  -moz-box-shadow: -5px 0px 17px -8px rgba(0,0,0,0.98);
  box-shadow: -5px 0px 17px -8px rgba(0,0,0,0.98);
}
.content-right {
  padding-left: 30px;
}
.menu-left{
  width: 241px;
  margin-left: -40px;
  float: left;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.menu-left > ul{
  list-style: none;

}
.menu-left > ul > li{
  height: 40px;
  padding-bottom: 10px;
  padding-top: 7px;
  background: url(../images/separator-menu.png) repeat-x bottom;
}
.menu-left > ul > li.active{
  background: url(../images/menu-hover.png) no-repeat;
}
.menu-left > ul > li:hover{
  background: url(../images/menu-hover.png) no-repeat;
}
.menu-left > ul > li.logout:hover{
  background: url(../images/menu-hover-logout.png) no-repeat;
}
.menu-left > ul > li a{
  display: block;
  color: #282828;
  margin-left: 12px;
}
.form-login{
  width: 140px;
  margin-left: 40px;
}
.form-login input{
  width: 100%;
  margin-left: 11px;
  margin-top: 4px;
  padding: 6px 34px 5px 2px;  
  border: 1px solid rgb(178, 178, 178);
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing : content-box;
  box-sizing : content-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.form-login p.button input{
  width: 49%;
  margin-right: -48px;
  position: relative;
  float: right;
  vertical-align: top;
  padding: 2px 5px;
  color: white;
  text-align: center;
  background: #3498db;
  border: 0;
  border-bottom: 2px solid #2a8bcc;
  cursor: pointer;
}
.form-login h3{
  margin-left: 11px;
  font-size: 17px;
  font-weight: bold;
}
.daftar{
  width: 250px;
  margin-left: 51px;
}
.daftar a{
  margin-left: 20px;  
  color: #3498db;
}
.daftar a:hover{
  color: #282828;
}
.contents{
  float: left;
  width: 934px;
  min-height: 529px;
  padding-bottom: 15px;
  background-color: #fff;
  -webkit-box-shadow: -5px 0px 17px -8px rgba(0,0,0,0.98);
  -moz-box-shadow: -5px 0px 17px -8px rgba(0,0,0,0.98);
  box-shadow: -5px 0px 17px -8px rgba(0,0,0,0.98);
}
.text-content{
  padding-top: 12px;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-left: 12px;
  color: #282828;
}
.judul{
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
/*daftar lowongan*/
.daftar-lowongan{
  width: 90%;
  margin: 0 auto;
}
.daftar-lowongan ul{
  width: 100%;
  font-size: 20px;
  margin: 0 auto;
}
.daftar-lowongan li{
  margin: 0 auto;
  list-style: none;
  width: 40%;
  padding-bottom: 5px;
  float: left;
}
.daftar-lowongan a{
  min-height: 50%;
  position: relative;
  display: block;
  padding: .6em .4em .6em 2em;
  *padding: .5em;
  margin: .5em 0;
  font-size: 16px;
  background: #fff;
  color: #444;
  text-decoration: none;
  border-radius: .3em;  
}

.daftar-lowongan a:hover{
  background: #eee;
}

.daftar-lowongan a:hover:before{
  transform: rotate(360deg);  
}

.daftar-lowongan a:before{
  content: "";
  position: absolute; 
  left: -.3em;
  top: 50%;
  margin-top: -0.7em;
  background: #3498db;
  height: 1.5em;
  width: 1.5em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  }
  /*login*/
  .login-form{
    width: 85%;
    margin: 0 auto;
  }
  .login-form input{
    width: 50%;
    margin-top: 9px;
    margin-left: 200px;
    text-align: center;
    padding: 8px 5px 5px 2px;  
    border: 1px solid rgb(178, 178, 178);
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing : content-box;
    box-sizing : content-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  } 
  .login-form p.button input{
    width: 13%;
    margin-right: 180px;
    position: relative;
    float: right;
    vertical-align: top;
    padding: 2px 5px;
    color: white;
    font-size: 14px;  
    text-align: center;
    background: #3498db;
    border: 0;
    border-bottom: 2px solid #2a8bcc;
    cursor: pointer;
  }
  .tek-login {
    margin-top: 40px;
  }
  /*data diri*/
  .data-diri{
    width: 95%;
    margin: 0 auto;
  }
  .data-diri label{
    width: 160px;
    padding-left: 10px;
    margin: 0 auto;
  }
  .data-diri input{
    min-width: 10px;
  }
  .data-diri input[type=text]{
    width: 250px;
    border: 1px solid rgb(178, 178, 178);
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing : content-box;
    box-sizing : content-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .data-diri textarea{
    width: 75%;
    border: 1px solid rgb(178, 178, 178);
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing : content-box;
    box-sizing : content-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .data-diri input[type=radio]{
    width: 30px;
  }
  .custom_file_upload{
  }

  input.file {
    width: 300px;
    height: 15px;
    border: 1px solid #BBB;
    border-right: 0;
    color: #888;
    padding-bottom: 125px;
    outline: none;
    cursor: pointer;
  }

  .file_upload{
    width: 190px;
    height: 24px;
    display: inline;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    font-style: italic;
    color: #000;
    text-align: left;
    padding-bottom: 10px;
  }
  .file_upload:before {
    content: 'klik dan upload file anda di sini';
    width: 120px;
    text-align: left;
    cursor: pointer;
    padding: 1px 4px;
    color: #282828;
    font-size: 13px;
  }
  .file_upload input{
    position: relative;
    height: 30px;
    width: 210px;
    display: inline;
    cursor: pointer;
    opacity: 0; 
  }
  .data-diri p.button input{
   width: 13%;
   margin-right: 50px;
   position: relative;
   float: right;
   vertical-align: top;
   padding: 2px 5px;
   color: white;
   font-size: 14px;  
   text-align: center;
   background: #3498db;
   border: 0;
   border-bottom: 2px solid #2a8bcc;
   cursor: pointer;
 }
 /*pengumuman*/
 .pengumuman{
  width: 100%;
  height: 80%;
  padding-bottom: 10px;
}
.info-pengumuman{
  width: 80%;
  min-height: 100px;
  margin: 0 auto;
  border: 1px solid rgb(178, 178, 178);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.isi-pengumuman{
  width: 100%;
  text-align: left;
  padding: 50px;

}
.pengumuman h4{
  width: 15%;
  height: 10%;
  margin: 0 auto;
  padding: 9px 4px 9px 25px;
  text-align: center;
  color: #fff;
  background: url(../images/tes-tulis.png) no-repeat 5px #282828;
}
.info-pengumuman p.button input{
  width: 20%;
  position: relative;
  float: right;
  vertical-align: top;
  padding: 2px 5px;
  color: white;
  font-size: 14px;  
  text-align: center;
  background: #3498db;
  border: 0;
  border-bottom: 2px solid #2a8bcc;
  cursor: pointer;
}
/*detail-lowongan*/
.detail-lowongan{
  width: 80%;
  margin: 0 auto;
  text-align: left;
}
.detail-lowongan ul{
  list-style: decimal;
  margin: 0 auto;
}
.detail-lowongan ul > ul{
  list-style: lower-alpha;
}
.detail-lowongan p.button input{
  width: 15%;
  position: relative;
  float: right;
  vertical-align: top;
  padding: 2px 5px;
  color: white;
  font-size: 14px;  
  text-align: center;
  background: #3498db;
  border: 0;
  border-bottom: 2px solid #2a8bcc;
  cursor: pointer;
}
/*footer*/
.footer{
  background: #0f629b;
  line-height: 40px;
  min-width: 980px;
  min-height: 60px;
  padding: 0px;
  margin: 0px;
}

